:host {
	display: flex;
	overflow: hidden;

	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;

	> * {
		min-width: 100%;
	}

	app-controls {
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
}