label {
	position: fixed;
	top: 5px;
	left: 5px;
}
label > input[type="file"] {
	display: none;
}
label > input[type="file"] + span {
	padding: 2px;
	border: 1px solid #333333;
	background-color: #dddddd;

	&:hover {
		background-color: #eeeeee;
	}

	&:active {
		background-color: #cccccc;
	}
}

img {
	max-width: 100%;
}

app-book {
	height: 100vh;
}