label > input[type="file"] {
	display: none;
}
label > input[type="file"] + span {
	padding: 2px;
	border: 1px solid #333333;
	background-color: #dddddd;

	&:hover {
		background-color: #eeeeee;
	}

	&:active {
		background-color: #cccccc;
	}
}

textarea {
	display: block;

	width: 100%;
	min-height: 75vh;
	margin-top: 10px;
}