/* Defining global style variables */

:root {
	--accent-color: #bada55;
	--background-color: #ffffff;
	--text-color: #000000;
}

/* You can add global styles to this file, and also import other style files */

html, body {
	padding: 0px;
	margin: 0px;

	overflow: hidden;

	background-color: var(--background-color);
	color: var(--text-color);
}

* {
	box-sizing: border-box;
}